<a href="https://colab.research.google.com/github/feliperromao/datascience-na-pratica/blob/main/valores_ausentes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv")
df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

## Identificando valores ausentes

In [4]:
## Verificando a quantidade de valores nulos em cada coluna

df.isnull().sum()

user_gender          396
user_birthdate         1
user_residence    179905
ride_date              0
time_start             0
time_end           43285
station_start          0
station_end            0
ride_duration      73174
ride_late          73174
dtype: int64

In [8]:
## Calculando o percentual dos valores ausentes

(df.isnull().sum() / df.shape[0]) * 100

user_gender        0.137824
user_birthdate     0.000348
user_residence    62.614419
ride_date          0.000000
time_start         0.000000
time_end          15.064979
station_start      0.000000
station_end        0.000000
ride_duration     25.467594
ride_late         25.467594
dtype: float64

## Eliminando valores ausentes

In [12]:
# Elimina linhas cujo campo `user_gender` é nulo
df_row_dropna = df.dropna(subset=['user_gender'], axis=0)

# comparando
print("Antes:\t{}".format(df.shape))
print("Depois:\t{}".format(df_row_dropna.shape))

Antes:	(287322, 10)
Depois:	(286926, 10)

In [14]:
# Elimina todas as colunas onde existem valores ausentes
df_cols_dropna = df.dropna(axis=1)

# comparando
print("Antes:\t{}".format(df.shape))
print("Depois:\t{}".format(df_cols_dropna.shape))

Antes:	(287322, 10)
Depois:	(287322, 4)

## Preencher valores

In [18]:
# Usando a mediana para preencher valores ausentes
ride_duration_median = df["ride_duration"].median()
df["ride_duration"].fillna(ride_duration_median, inplace=True)

# ver valores ausentes
df["ride_duration"].isnull().sum()

0

In [19]:
# preenchendo variavel categorica
df["user_gender"].value_counts()

M    212608
F     74318
Name: user_gender, dtype: int64

In [20]:
df["user_gender"].fillna("M", inplace=True)

In [21]:
df["user_gender"].isnull().sum()

0