<a href="https://colab.research.google.com/github/feliperromao/datascience-na-pratica/blob/main/visualizando_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/curso_data_science_na_pratica/master/modulo_02/BBAS3.SA.csv", parse_dates=True, index_col='Date')

In [4]:
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-09-21  29.730000  30.580000  29.340000  30.580000  28.680056  16301600
2018-09-24  30.379999  30.700001  29.500000  29.730000  27.882866  13086900
2018-09-25  29.030001  29.760000  28.809999  29.549999  27.714045  11742900
2018-09-26  29.650000  29.969999  29.209999  29.450001  27.620264  12842400
2018-09-27  29.680000  30.299999  29.680000  30.290001  28.408072   8767900

In [5]:
df.describe()

             Open        High         Low       Close   Adj Close        Volume
count  246.000000  246.000000  246.000000  246.000000  246.000000  2.460000e+02
mean    47.516301   48.152114   46.810203   47.471992   45.937508  1.192853e+07
std      5.367639    5.340762    5.334983    5.325277    5.635851  5.101974e+06
min     29.030001   29.760000   28.200001   28.209999   26.457306  4.950700e+06
25%     45.032500   45.450001   44.034999   44.752502   42.837990  8.533175e+06
50%     48.700001   49.270001   47.955000   48.625000   47.217266  1.089165e+07
75%     51.537499   52.169998   50.749999   51.422500   49.755905  1.377748e+07
max     55.599998   55.910000   54.820000   55.180000   54.394733  4.193190e+07

In [7]:
df.index

DatetimeIndex(['2018-09-21', '2018-09-24', '2018-09-25', '2018-09-26',
               '2018-09-27', '2018-09-28', '2018-10-01', '2018-10-02',
               '2018-10-03', '2018-10-04',
               ...
               '2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12',
               '2019-09-13', '2019-09-16', '2019-09-17', '2019-09-18',
               '2019-09-19', '2019-09-20'],
              dtype='datetime64[ns]', name='Date', length=246, freq=None)